{% extends 'main/base.html' %}
{% load static %}

    {% block content %}
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#75D5D5"/><image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/carrousel1.jpg" x="0" y="0" width="100%" height="100%"  /></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-3d" >Example headline.</h1>
            <p class="opacity-75 text-3d">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#75D5D5"/><image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/carrousel2.jpg" x="0" y="0" width="100%" height="100%"  /></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-3d" >Another example headline.</h1>
            <p class="text-3d">Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#75D5D5"/><image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/carrousel3.jpg" x="0" y="0" width="100%" height="100%"  /></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-3d" >One more for good measure.</h1>
            <p class="text-3d">Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Notre Vision</h2>
        <p class="lead">Notre vision est de devenir une référence en matière d'éducation, où chaque élève est encouragé à développer son potentiel à travers la passion et la persévérance. Nous nous efforçons de créer un environnement d'apprentissage inclusif qui prépare nos élèves à devenir des citoyens productifs et bien adaptés, tant sur le plan social qu'émotionnel et spirituel.</p>
      </div>
      <div class="col-md-5">
        						<svg class="bd-placeholder-img card-img-top" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
  							<title>Placeholder</title>
  							<image alt="Photo de la Jubile Académie Chrétienne" href="{% static '/img/MGB06514.jpg' %}" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
						</svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Un Environnement Propice à l'Apprentissage</h2>
        <p class="lead">Notre campus est situé dans un cadre calme, propice à l'étude. Avec des salles de classe bien aérées et une cour spacieuse, nous offrons un cadre idéal pour des récréations agréables et des activités éducatives enrichissantes.</p>
      </div>
      <div class="col-md-5 order-md-1">
        						<svg class="bd-placeholder-img card-img-top" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
  							<title>Placeholder</title>
  							<image alt="Photo de la Jubile Académie Chrétienne" href="{% static '/img/photo7.jpg' %}" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
						</svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Une Philosophie Éducative Unique</h2>
        <p class="lead">À la JAC, nous adoptons une approche éducative qui intègre des valeurs chrétiennes et des compétences pratiques. Nos élèves apprennent à :</p>
        <ul>
          <li>Cultiver un esprit critique</li>
          <li>Développer des relations saines</li>
          <li>Prendre soin de leur environnement</li>
          <li>S'orienter dans la vie avec confiance</li>
        </ul>
      </div>
      <div class="col-md-5">
        						<svg class="bd-placeholder-img card-img-top" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
  							<title>Placeholder</title>
  							<image alt="Photo de la Jubile Académie Chrétienne" href="{% static '/img/MGB06548.jpg' %}" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
						</svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>
    {% endblock %}