
{% extends 'main/base.html' %}
    {% block content %}

      <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Nos Activités à la Jubilé Académie Chrétienne</h1>
              <h3 class="fw-light">Découvrez l'Ensemble de Nos Activités</h3>
              <p class="lead text-body-secondary">À la JAC, nous proposons des activités enrichissantes qui encouragent la créativité, le travail d'équipe et l'engagement communautaire. Chaque activité vise à développer des compétences essentielles et à promouvoir un esprit de camaraderie. Explorez nos activités et découvrez comment elles enrichissent la vie scolaire de nos élèves.</p>
            </div>
          </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo17.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                  <h5> Cours de Bible</h5>
                    <p class="card-text">Les élèves participent à des cours de Bible réguliers, où ils explorent les Écritures et apprennent à appliquer les principes chrétiens dans leur vie quotidienne. Cela favorise leur développement spirituel et moral.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/football_championnat_photo.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Championnat de Football</h5>
                      <p class="card-text">Un événement sportif annuel où les classes s'affrontent dans un tournoi de football. Cet événement encourage le travail d'équipe, le fair-play et l'esprit sportif, tout en renforçant les liens entre élèves.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/noel_photo.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Fête de Noël</h5>
                    <p class="card-text">Une célébration festive où élèves, parents et enseignants se réunissent pour partager un repas, échanger des cadeaux et participer à des activités culturelles, renforçant ainsi la communauté scolaire.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo15.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Ateliers Artistiques</h5>
                    <p class="card-text">Des ateliers de peinture, de musique et de théâtre sont organisés pour encourager la créativité des élèves. Ces activités leur permettent d’exprimer leur talent artistique tout en développant leur confiance en soi.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/MGB06583.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Sorties Éducatives</h5>
                    <p class="card-text">Des excursions sont planifiées pour visiter des musées, des sites historiques ou des institutions locales, offrant aux élèves une expérience d'apprentissage pratique et enrichissante en dehors de la salle de classe.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo13.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Journée de la Santé</h5>
                    <p class="card-text">Une journée dédiée à la sensibilisation à la santé et au bien-être, avec des activités physiques, des ateliers sur la nutrition et des conférences sur l'importance d'un mode de vie sain.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://w          <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo19.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Fête des Philosophes</h5>
                    <p class="card-text">Un événement où les élèves présentent des réflexions philosophiques à travers des discours, des débats et des performances artistiques, stimulant leur pensée critique et leur créativité.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo2.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Programme de Leadership</h5>
                    <p class="card-text">Un programme conçu pour développer les compétences de leadership des élèves à travers des projets communautaires, des activités de groupe et des formations, les préparant à devenir des leaders responsables.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo1.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Célébration de la Diversité</h5>
                    <p class="card-text">Une journée où les élèves partagent leurs cultures et traditions à travers des présentations, des danses et des plats typiques, promouvant l'inclusion et le respect des différences.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo21.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Activités Sportives Diversifiées</h5>
                    <p class="card-text">Des cours d'éducation physique incluant divers sports comme le basket, le volley-ball et les arts martiaux, permettant aux élèves de développer des compétences physiques et de rester actifs.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/photo11.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Projets de Service Communautaire</h5>
                    <p class="card-text">Les élèves participent à des projets de bénévolat dans la communauté, apprenant l'importance de donner en retour et de contribuer au bien-être de leur environnement.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Placeholder</title>
                                  <image alt="Photo de la Jubile Académie Chrétienne" href="statics_files/media/images/MGB05923.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                              </svg>
                  <div class="card-body">
                      <h5>Semaine des Sciences</h5>
                    <p class="card-text">Une semaine dédiée aux sciences avec des expériences pratiques, des démonstrations et des conférences, incitant les élèves à explorer et à apprécier le monde scientifique.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    {% endblock %}