{% extends 'main/base.html' %}

    {% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Galerie de la Jubilé Académie Chrétienne</h1>
                    <h3 class="fw-light">Un Aperçu de Nos Moments Précieux</h3>
                    <p class="lead text-body-secondary">Bienvenue dans notre galerie ! Ici, vous découvrirez des photos capturant les moments mémorables de la vie à la Jubilé Académie Chrétienne. Chaque image témoigne de l'engagement, de la joie et de la camaraderie qui règnent au sein de notre communauté scolaire. Explorez ces souvenirs et partagez avec nous la fierté de nos réalisations !</p>
                </div>
            </div>
        </section>
        <div class="b-example-divider"></div>
        <div class="gallery py-5">
            <div class="image-container">
                <img src="/statics_files/media/images/photo1.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo2.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo3.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo4.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo5.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo6.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo7.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo8.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo9.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo10.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo11.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo12.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo13.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo14.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo15.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo16.jpg">
            </div>
            <div class="grid-item">
                <img src="/statics_files/media/images/photo17.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo18.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo19.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo20.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo21.jpg">
            </div>
            <div class="image-container tall">
                <img src="/statics_files/media/images/photo22.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo23.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo24.jpg">
            </div>
            <div class="image-container">
                <img src="/statics_files/media/images/photo25.jpg">
            </div>
        </div>
    </main>
    {% endblock %}
