{% extends 'main/base.html' %}
{% load static %}

    {% block content %}

<main class="container my-5">
    <section class="text-center mb-5">
        <h1 class="display-4">Jubile Académie Chrétienne</h1>
        <p class="lead">L'excellence par la passion et la persévérance.</p>
        <p class="font-italic">•AD DAY AD PATRIA•</p>
    </section>
    
    <section class="mb-5">
        <h2>Citation Hebdomadaire</h2>
        <blockquote class="blockquote">
            <p class="mb-0">“ Les racines de l'éducation sont amères, mais ses fruits sont doux.”</p>
        </blockquote>
    </section>
    
    <section class="mb-5">
        <div class="row">
            <div class="col-md-7">
                <h2 class="fw-normal">Jubile Académie Chrétienne : <span class="text-muted">Éducation d'Excellence et Valeurs Spirituelles.</span></h2>
                <p>La Jubile Académie Chrétienne (JAC) est un établissement éducatif fondé par le Dr Jean Héder Petit-Frère, dont la mission est d'offrir une éducation chrétienne de qualité, axée sur l'excellence académique et le développement spirituel. Depuis sa création en 1998, la JAC s'est engagée à former des élèves non seulement compétents sur le plan académique, mais également dotés de valeurs chrétiennes solides. L'école privilégie une approche éducative qui combine l'apprentissage classique avec une orientation professionnelle dès la première année, permettant ainsi aux élèves de s'épanouir dans un environnement harmonieux et stimulant.</p>
            </div>
            <div class="col-md-5">
                <img src="path/to/image/a_propos_photo.jpg" alt="Photo de la Jubile Académie Chrétienne" class="img-fluid">
            </div>
        </div>
    </section>
    
    <section class="mb-5">
        <h2>Activités</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path/to/image/photo17.jpg" alt="Cours de Bible" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Cours de Bible</h5>
                        <p class="card-text">Les élèves participent à des cours de Bible réguliers, où ils explorent les Écritures et apprennent à appliquer les principes chrétiens dans leur vie quotidienne. Cela favorise leur développement spirituel et moral.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path/to/image/football_championnat_photo.jpg" alt="Championnat de Football" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Championnat de Football</h5>
                        <p class="card-text">Un événement sportif annuel où les classes s'affrontent dans un tournoi de football. Cet événement encourage le travail d'équipe, le fair-play et l'esprit sportif, tout en renforçant les liens entre élèves.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path/to/image/noel_photo.jpg" alt="Fête de Noël" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Fête de Noël</h5>
                        <p class="card-text">Une célébration festive où élèves, parents et enseignants se réunissent pour partager un repas, échanger des cadeaux et participer à des activités culturelles, renforçant ainsi la communauté scolaire.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mb-5">
        <h2>Centre d'assistance</h2>
        <p>Vous rencontrez un problème et vous avez besoin d'aide, vous avez des questions ou encore à la recherche d'informations supplémentaires ou besoin de prendre un rendez-vous avec l'un des personnels de l'établissement veuillez contacter notre service client afin de vous aider.</p>
        <ul>
            <li>• Horaire: Du lundi au vendredi de 08:00 AM à 04:00 PM</li>
        </ul>
        <a href="#" class="btn btn-success">Contactez-nous</a>
    </section>
</main>


    {% endblock %}
